:root {
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    background: var(--background);
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
}

/*--------- Header ----------*/
header .menu-section  {
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

header img {
    margin-left: 20px;
    height: 38px;
    width: auto;
}

header nav ul li {
    list-style: none;
}

#get-coffe {
   margin-right: 20px;
   padding: 4px 20px;
   border: 1px solid var(--button);
   border-radius: 0.25em;
}

header nav ul li a,
#get-coffe a {
    text-decoration: none;
    color: var(--text-color);
}

header nav ul li a:hover {
    color: var(--button);
}

#get-coffe:hover {
    background-color: var(--button);
}

header nav ul {
    display: flex;
    gap: 32px; 
    color: var(--button); 
    font-size: 1.6rem;
}

.menu-toggle {
    display: none;
}

.coffe-text {
    display: none;
}

.menu-section>img:nth-child(2) {
    display: none;
}

.get-coffe img{
    width: 30px;
}
/*----------- Main ----------- */

.GreatCoffe p {
    font-size: 6.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    line-height: 60px;
}

.GreatCoffe p:nth-child(1) {
    margin-top: 50px
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    margin-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto; 
    max-width: 800px; 
    /* top: 50%;
    left: 50%;
    transform: translate(40%, 60%);
    z-index: 6; */
}



/* .image-background{
    border: 1px solid white;
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 50%;
    height: 70%;
    /* top: 50%;
    left: 50%;*/
    /* transform: translate(-0%, 60%); */
    /* z-index: 90; 
} */

#Stroke {
    color: black;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;             
}
  
body::-webkit-scrollbar-track {
    background: var(--border);        
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--button);  
    border-radius: 0.5em;      
}


@media (max-width: 700px) {

    html {
        font-size: 50%;
    }
}

@media (max-width: 620px) {
    
    .image {
        margin-top: 25%;
    }

    nav {
        display: none;
    }
    
    .menu-section>img:nth-child(2) {
        display: initial;
        position: absolute;
        left: 0;
        top: 15px;
        margin-right: 20px;
    }

    .menu-toggle {
        display: block;
    }
    .menu-section {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .coffe-text {
        display: initial;
        font-size: 3rem;
        width: 40%;
        margin-top: 100px;
    }

    .coffe-text.on {
        display: none;
    }
    .menu-toggle img {
        width: 40px;

        /* transition-duration: 0.9s; */
    }
 
    .menu-section>img {
        display: none;
    }
    
    #get-coffe {
        margin-top: 60px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: var(--background);

        z-index: 10;
    }

    .menu-section.on nav {
        display: block;
        position: relative;
        margin-top: 80px;
        z-index: 12;
        width: 100%;
    }
    
    .menu-section .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
        margin-right: 20px;
    }
    
    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }
    
    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 6rem;
        display: block;
        border: 0.1px solid var(--border-menu-mobile);
    }
}
